doctype html
head
  title Map at a specified location
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes')
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  script(type='text/javascript', charset="utf-8", src='https://js.api.here.com/v3/3.1/mapsjs-core.js')
  script(type='text/javascript', charset="utf-8", src='https://js.api.here.com/v3/3.1/mapsjs-service.js')
  script(src='https://js.api.here.com/v3/3.1/mapsjs-ui.js', type='text/javascript', charset='utf-8')
  script(src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
       type="text/javascript" charset="utf-8")
  link(rel='stylesheet', type='text/css', href='https://js.api.here.com/v3/3.1/mapsjs-ui.css')
nav(class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between")
    .navbar-nav
        a.active(href='/',class="nav-item nav-link ") Home
        a(href='#',class="nav-item nav-link") Contact	
#mapContainer(style='width : 1280px; height : 480px; margin : auto; background-color : white')
    span(style='display : inline-block') 
        form(action='/routing', method="GET")
            button(id='routingButton' ,class="btn btn-secondary", type='submit') Routing to Emart Supermarket
    span(style='display : inline-block; margin-left : 10px;')
        form(action='/isoline', method="GET")
            button(id='isolineButton' ,class="btn btn-secondary", type='submit') Drawing isoline covering the center around 200m pedestrian journey 
block routing 
block myhome 
block isoline 